*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.max_width{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
} 





header{
    background-color: #EBEBEB;
    /* width: 100%;
    height: 40px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.header_left p{
    margin-left: 150px;
    padding: 7px;
    color: #555555;
    
}

.header_right{
    margin-right: 180px;
    padding: 7px;
    padding-right: 10px;
    color: #555555;
}

.header_right i{
    color: #555555;
    padding: 10px;
    padding-bottom: 7px;
}







.header2{
    
    /* width: 100%;
    height: 40px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100px;
    
   
}
.div_left img{
    margin-left: 150px;
    padding: 7px;
    
    
} 

.div_right{
    display: flex;
    margin-right: 180px;
}
   
    
.div_right .task1 , .task2 , .task3{
    margin: 30px;
}

.div_right .task1 , .task2{
    border-right: 2px solid rgb(198, 193, 193);
    padding-right: 10px;
    
}






.div_right button{
    background-color:#FFB600;
    color: white;
    padding: 10px;
    border: none;
    height: 50px;
    margin-top: 25px;
}

.div_right button:hover{
    background-color: black;
    color: #FFB600;
} 





nav .navbar{
    background-color: #23282D;
    /* position: fixed;    */
}
nav .navbar ul{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 75px;
    border: 1px solid black;
    border: none;
   
}

nav .navbar li{
    list-style: none;
    margin-left: 40px;
}

nav .navbar a{
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif ;
   
}

nav .navbar a:hover{
    color: #FFB600;
}

nav .navbar .icon_div{
    color: white;
    margin-left: 30%;
    cursor: pointer;
}




.main_div{
    height: 300px;
    background-image: url(image/banner1.jpg);
    
}

.main_div .content{
    color: white;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 40%;
}

.main_div .content h1{
    font-size: 60px;
    font-family:'Montserrat', sans-serif  ;
}

.main_div .content p{
    font-family:'Open sans', sans-serif  ; 
}




.main_div2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    padding: 20px;
    flex-wrap: wrap;
    
        
}
    
    

.main_div2 .content{
    display: flex;
    padding: 20px;
    padding-left: 20px;

}

.main_div2 .content h2{
    font-size: 18px;
    font-family: sans-serif;
     padding: 10px;
}

.main_div2 .content h2:hover{
    color: #FFB600;
    cursor: pointer;
}

.main_div2 .content p{
    padding: 10px;
}

.main_div2 .content a{
    text-decoration: none;
    padding: 10px;
    color: #272D33;
    font-weight: bold;

}

.main_div2 .content a:hover{
    color: #FFB600;
}






.main_div2 .content2{
    display: flex;
    padding: 20px;
    padding-left: 20px;

}

.main_div2 .content2 h2{
    font-size: 18px;
    font-family: sans-serif;
     padding: 10px;
}

.main_div2 .content2 h2:hover{
    color: #FFB600;
    cursor: pointer;
}

.main_div2 .content2 p{
    padding: 10px;
}

.main_div2 .content2 a{
    text-decoration: none;
    padding: 10px;
    color: #272D33;
    font-weight: bold;

}

.main_div2 .content2 a:hover{
    color: #FFB600;
}




footer{
    margin-top: 30px;
}


footer .footer1{
    background-color: #030303;
    height: 450px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer .footer1 .about h3{
    font-family:'Montserrat', sans-serif ;
    border-left: 2px solid #FFB600;
    margin-right: 10px;
    margin-top: 10px;
}

footer .footer1 .about img{
    margin-top: 20px;

}

footer .footer1 .about p{
    margin-top: 20px;
    color: #9e9292;
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;
    font-size: 15px;
}

footer .footer1 .about i{
    color: #9e9292;
    margin-top: 20px;
    padding: 10px;
    
}

footer .footer1 .working{
    margin-left: 30px;
}
footer .footer1  .working h3{
    font-family:'Montserrat', sans-serif ;
    border-left: 2px solid #FFB600;
    margin-right: 10px;
}

footer .footer1  .working p{
    margin-top: 20px;
    color: #9e9292;
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;
    font-size: 15px;
}


footer .footer1  .working .div-left{
    margin-top: 20px;
    line-height: 15px;
    
   
}

footer .footer1  .working  .box .div-left h2{
    font-size: 15px;
    color: #9e9292;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    
}

footer .footer1  .working .box{
    display: flex;
  
}

footer .footer1  .working .box .div_right{
   
    display: block;
   
}

footer .footer1  .working .box .div_right h2{
    font-size: 15px;
    color: #9e9292;
    font-family: 'Open Sans', sans-serif;
    margin-top: 14px;
    margin-left: 20px;
   
}

footer .footer1 .services h3{
    font-family:'Montserrat', sans-serif ;
    border-left: 2px solid #FFB600;
    margin-right: 10px;

}

footer .footer1 .services h2{
    margin-top: 20px;
    font-size: 13px;
    color: #9e9292;
    font-family: 'open sans', sans-serif;
}

footer .footer1 .services h2:hover{
    color: #FFB600;
}


.footer2{
    background-color: #FFB600;
    display: flex;
    justify-content: space-between;
    
    padding: 30px;
    
}

.footer2 .copyright{
    margin-top: 10px;
    padding-left: 40px;
}

.footer2 .links{
    display: flex;
    margin-right: 80px;

}

.footer2 .links p{
    margin: 10px;
}

.footer2 .links p:hover{
    color: white;
}